#include <windows.h>

1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040004b0"
    BEGIN
      VALUE "FileDescription", "SchermPresets - beeldschermpresets opslaan en toepassen"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "ProductName", "SchermPresets"
      VALUE "ProductVersion", "1.0.0.0"
      VALUE "OriginalFilename", "SchermPresets.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x400, 1200
  END
END
